.modal {
    position: absolute;
    right: -24px;
    top: 62px;
    width: 900%;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    animation-name: slide-in;
    animation-duration: 300ms;
}

.modaldialog {
    width: 100%;
    max-width: 550px;
    background: white;
    position: relative;
    margin: 0 20px;
    max-height: calc(100vh - 40px);
    text-align: left;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: slide-in;
    animation-duration: 0.5s;
    border-radius: 40px 40px 40px 0px;
}
.modaltitle{
    align-items: center;
}
.modalheader,
.modalfooter {
    display: flex;
    align-items: center;
    padding: 1rem;
}
.MenuSpicyIcon{
    position: absolute;
    background: #FFFFFF;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.15);
    bottom: -10px;
    border-radius: 50px;
    left: 35px;
    padding: 10px;
}
.modalheader {
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    background-color:  #E9E9E9;

}
.ButtonWhatsApp{
    margin-top: 20px;
    background: #25D366;
    border-radius: 99px;
    border: none;
    font-weight: 700;
    font-size: 18px;
    width: 100%;
    padding: 10px 0;
}
.ButtonWhatsApp a{
    color: white;
    letter-spacing: 2px;
}
.deposits{
    border-top: 1px solid #F4F4F4;
    display: flex;
    align-items: center;
}
.depositsNumber{

    margin-left: auto;
    color: #FE9102;
}
.modalfooter {
    border-top: 1px solid #dbdbdb;
    justify-content: flex-end;
}

.modalclose {
    position: absolute;
    cursor: pointer;
    padding: 1rem;
    top: 10px;
    right: 10px;
}

.modalbody {
    overflow: auto;
}

.modalcontent {
    padding: 1rem 2rem 2rem;
    background-color:  #E9E9E9;
}
.userCategory{
    padding-top: 20px;
    padding-bottom: 20px;
    border-top: 1px solid #F4F4F4;
    display: flex;
    align-items: center;
}
.categoryImage{

    padding-right: 10px;
}
.categoryTitle{

    font-weight: 300;
    font-size: 16px;
    color: #212629;
}

@keyframes appear {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes slide-in {
    from {
        transform: translateY(-150px);
    }
    to {
        transform: translateY(0);
    }
}